div.InputContainer{
    width: 1000px;
    height: 350px;
    background-color: #DCDCDC;
    border-radius: 50px;
    position: absolute; 
    border: 5px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}